.block-uw-cfg-chinese-views ol {
  list-style-type: none;
  margin: 0em;
  padding: 0;
}

.block-uw-cfg-chinese-views ol li ol {
  list-style-type: square;
  padding-left: 2em;
}

.block-uw-cfg-chinese-views .feed-icon a {
  background: url("images/ical-feed-icon-34x14.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  line-height: 16px;
  margin-bottom: 10px;
  padding-left: 40px;
}
